
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #F8F1F1;
    color: #0A0A0A;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    gap: 5em;
}

.visitcards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    gap: 20px;
}

.result {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#select_place {
    border: none;
    background-color: #F5F5F5;
}

.temp-icon {
    width: 20px;
    height: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #ebe3e3;
    border-radius: 10px;
    margin: 1vw;
}
.home {
    width: 100%;
    text-decoration: none;
}

.current_user {
    display: flex;
    align-items: center;
    gap: 2em;
}

.logout {
    background-color: #ff0000;
    color: #ded9d9;
    border: none;
    padding: .5em 1em;
    border-radius: 5em;
}
#month-today {
    display: none;
}

.form-container {
    display: flex;
    width: 100%;
    gap: 3em;
    justify-content: center;
    align-content: center;
    /*margin: 2em;*/
}
.submit-button {
    padding: 0 1em;
    border-radius: 10px;
    background-color: #4545c1;
    color: white;
    border: none;
    height: 75%;
}

.predict-form{
    border-radius: 15px;
    background-color: #d6bebe;
}

.form-body {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    border: 1px solid #d6bebe;
}

.form-item {
    height: 48px;
    display: flex;
    align-items: center;
}

.poo {
    background-color: #ded9d9;
    margin: 0px auto;
    padding: 20px 0px;
}

@media screen and (max-width: 568px) {
    .logged-in-as {
        display: none;
    }
}